$purple100: #e6dff3;
$purple200: #cebfe7;
$purple300: #b59eda;
$purple400: #9d7ece;
$purple500: #845ec2;
$purple600: #6a4b9b;
$purple700: #4f3874;
$purple800: #35264e;
$purple900: #1a1327;

$secondary-color: #bde0fe;

$backgroundColor: #e6dfdf;
