.card__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .match__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
